### Find the size of a Tuple in Python

he size of a tuple refers to the amount of memory the tuple occupies. It includes the memory used by each element,

In [16]:
#n Python, the sys.getsizeof() function from the sys module can be used to get the size of an object in bytes.
import sys

# sample Tuples
tuple1 = ("A", 1, "B", 2, "C", 3)
tuple2 = ("rohit", "Raju", "geeta", "Nikhil", "shubranshu", "Deepanshu")
tuple3 = ((1, "Lion"), ( 2, "Tiger"), (3, "Fox"), (4, "Wolf"))

print(sys.getsizeof(tuple1))

print(sys.getsizeof(tuple2))


print(sys.getsizeof(tuple3))

88
88
72

In [21]:
# using __sizeof__() function

tuple2 = ("rohit", "Raju", "geeta", "Nikhil", "shubranshu", "Deepanshu")
tuple3 = ((1, "Lion"), ( 2, "Tiger"), (3, "Fox"), (4, "Wolf"))

print(tuple1.__sizeof__())

print(tuple2.__sizeof__())



print("the size of  tuple1 :", tuple1.__sizeof__())

print("the size of tuple2 :", tuple2.__sizeof__())

72
72
the size of  tuple1 : 72
the size of tuple2 : 72

### Python – Maximum and Minimum K elements in Tuple

Input : test_tup = (3, 7, 1, 18, 9), k = 2 

Output : (3, 1, 9, 18)

In [41]:
test_tup = (5, 20, 3, 7, 6, 8)

k = 2

print("the original list is :",test_tup)

listed = list(sorted(test_tup))


print("sorted tuple is :", listed)
result = tuple(listed[:k]+listed[-k:])

print(result)

the original list is : (5, 20, 3, 7, 6, 8)
sorted tuple is : [3, 5, 6, 7, 8, 20]
(3, 5, 8, 20)

In [1]:
def min_max(tups):
    
    listed = list(sorted(tups))
    print("the tuples after sorting is:",listed)
    k = int(input("enter the min and max position element to remove:"))
    
    for i in range(0, len(listed)):
        if i==(k-1) or i == -(k):
            listed.pop(k-1) and listed.pop(-k)
    tuples = tuple(listed)
    
    return tuples
    
test_tup = (5, 20, 3, 7, 6, 8)
print(min_max(test_tup))

the tuples after sorting is: [3, 5, 6, 7, 8, 20]
enter the min and max position element to remove:2
(3, 6, 7, 20)

### Python program to create a list of tuples from given list having number and its cube in each tuple

Input: list = [1, 2, 3]
    
Output: [(1, 1), (2, 8), (3, 27)]

In [3]:
roots = [1, 2, 3]

result = [(val, val**3) for val in roots]

print(result)

[(1, 1), (2, 8), (3, 27)]

In [7]:
def cubes(roots):
    
    result = [(val , val**3) for val in roots]
    
    return result
        
    
roots = [1, 2, 9]
print(cubes(roots))

[(1, 1), (2, 8), (9, 729)]

In [8]:
# using lambda function

roots = [1, 2, 9]


result = list(map(lambda x:(x,x**3), roots))

print(result)

[(1, 1), (2, 8), (9, 729)]

### Python – Adding Tuple to List and vice – versa

In [25]:
list1 = ['rohit', 'gaurav', 'raj']

tuple1 = (21,24,29)
list3 = list(tuple1)


list1.extend(list3)
print(list1)

[12, 54]
['rohit', 'gaurav', 'raj', 21, 24, 29]

In [28]:
list1 = ['rohit', 'gaurav', 'raj']

tuple1 = (21,24,29)
list2 = list(tuple1)

list1 +=list2

print(list1)

['rohit', 'gaurav', 'raj', 21, 24, 29]

### Python – Closest Pair to Kth index element in Tuple

In [35]:
listed = [(3, 5), (78, 69), (19, 38), (9, 23), (19, 23)]


tup = (17, 23)

k = 2


res = min(listed, key = lambda x: abs(x[k-1]-tup[k-1]))

print(res)

(9, 23)

### Python – Join Tuples if similar initial element

In [38]:
from collections import defaultdict

In [46]:
test_list = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]

mapp = defaultdict(list)
print(mapp)
for key, val in test_list:
    mapp[key].append(val)
res = [(key, *val) for key, val in mapp.items()]
 
# printing result
print("The extracted elements : " + str(res))

defaultdict(<class 'list'>, {})
The extracted elements : [(5, 6, 7), (6, 8, 10), (7, 13)]

### Python – Extract digits from Tuple list

In [ ]:
Input : test_list = [(15, 3), (3, 9)] 
    
    Output : [9, 5, 3, 1]

In [68]:
test_list = [(15, 4), (3, 9), (1, 20), (69, 2)]


print(test_list)


res = map(lambda x: str(x), chain.from_iterable(test_list)) # to split 15 into 1,5 we need to convert it into string format

final_res = set()
print(res)

for i in res:
    for j in i:
        final_res.add(j)
        
print(final_res)

[(15, 4), (3, 9), (1, 20), (69, 2)]
<map object at 0x0000025D55174460>
{'1', '9', '0', '5', '6', '3', '2', '4'}

### Python – All pair combinations of 2 tuples

In [74]:
tuple1 = (7,6)
tuple2 = (2,9)

print("individual tuple1 is:",tuple1)
print("individual tuple1 is:",tuple2)


res = [(a,b) for a in tuple1 for b in tuple2]
result = res + [(c,d) for c in tuple2 for d in tuple1]
print("all possible outcomes for tuple1 and tuple2 are :",result)

individual tuple1 is: (7, 6)
individual tuple1 is: (2, 9)
all possible outcomes for tuple1 and tuple2 are : [(7, 2), (7, 9), (6, 2), (6, 9), (2, 7), (2, 6), (9, 7), (9, 6)]

### Python – Remove Tuples of Length K

Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
    
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
    
Explanation : (4, 5) of len = 2 is remove

In [101]:



def remove(inputs, k):
    
    for i in inputs:
        if len(i) == k:
            inputs.remove(i)
    return inputs
    
test_list = [(4, 5), (4, 4), (8, 6, 7), (1, ), (3, 4, 6,4, 7)]


print(remove(test_list, 6))

[(4, 5), (4, 4), (8, 6, 7), (1,), (3, 4, 6, 4, 7)]

In [98]:
test_list = [(4, 5), (4, 4), (8, 6, 7), (1, ), (3, 4, 6,4, 7)]


k = int(input("enter value of k :"))


result = [ele for ele in test_list if len(ele)!= k]

print(result)

enter value of k :2
[(8, 6, 7), (1,), (3, 4, 6, 4, 7)]

### Python program to sort a list of tuples by second Item

Input : [('go', 24), ('lets', 8), ('home', 30)] 

Output : [('lets', 8), ('go', 24), ('home', 30)]

________________________________________________________________________________________________________________________________

Input : [('452', 10), ('256', 5), ('100', 20), ('135', 15)]

Output : [('256', 5), ('452', 10), ('135', 15), ('100', 20)]

In [108]:
def sorting(tups):
    
    k = 2
    tups.sort(key = lambda x :x[k-1])
    
    return tups

tups = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)] 


print(sorting(tups))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

### Python – Order Tuples by List

In [116]:
tups = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)] 


order_list = ['gaurav', 'ram','akash', 'rishav']

print("the given order list is :\n", order_list)

dicto = dict(tups)

result = [(key, dicto[key]) for key in order_list]

print(" the result of the list with the given order is :\n", result)

the given order list is :
 ['gaurav', 'ram', 'akash', 'rishav']
 the result of the list with the given order is :
 [('gaurav', 15), ('ram', 20), ('akash', 5), ('rishav', 10)]

### Python – Flatten tuple of List to tuple

In [120]:
test_tuple = ([5, 6], [6, 7, 8, 9], [3])

test = []
for i in test_tuple:
    for j in i:
        test.append(j)
        
        
test = tuple(test)
    

test

(5, 6, 6, 7, 8, 9, 3)

In [123]:
from itertools import chain
test_tuple = ([5, 6], [6, 7, 8, 9], [3])


res = tuple(chain.from_iterable(test_tuple))


print(res)

(5, 6, 6, 7, 8, 9, 3)

### Python – Convert Nested Tuple to Custom Key Dictionary

In [125]:
test_tuple = ((4, 'all', 10), (3, 'is', 8), (6, 'Best', 10)) 


keys = ['key', 'value', 'id'] 


result = [{key :val for key, val in zip(keys,sub)}
         for sub in test_tuple]

print(" the result is :",result)

 the result is : [{'key': 4, 'value': 'all', 'id': 10}, {'key': 3, 'value': 'is', 'id': 8}, {'key': 6, 'value': 'Best', 'id': 10}]